body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    cursor: pointer;
}

.sidebar a:hover {
    background-color: #555;
    text-decoration: none;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: auto;
}

.content-text {
    white-space: pre-wrap;
}
.content h2 {
    color: #333;
    margin-bottom: 20px;
}

.content p {
    margin: 10px 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px 20px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h1.centered {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    word-break: keep-all;
}

th {
    background-color: #666;
    color: #fff;
}

td.list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 150px;
    display: block;
}

td.list-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 300px;
}


tr:nth-child(even) {
    background-color: #f4f4f9;
}

tr:hover {
    background-color: #e9ecef;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, #search {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, #search:hover {
    background-color: #777;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container.with-write-button {
    justify-content: space-between; 
}

.search-elements {
    display: flex;
}

#searchField, #searchInput {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#searchField {
    width: 150px;
}

#searchInput {
    width: 250px;
}

#auth-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px 20px;
}

#auth-code {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group select, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group select {
    height: 200px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group.centered {
    text-align: center;
}

.form-group.centered button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group.centered button:hover {
    background-color: #777;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group div {
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 20px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-list {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 0 40px;
    box-sizing: border-box; 
}

.login-box {
    background-color: #fff;
    padding: 20px;
    padding-left:75px;
    padding-right:75px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.login-box h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: #777;
}

.post-details {
    text-align: left;
    margin-bottom: 20px;
}

.post-details .title {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.post-details .meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.post-details .content p {
    margin: 10px 0;
    line-height: 1.6;
}

.post-details .image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.post-details .image-preview img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-details .details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-details .detail-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.post-details .detail-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.post-details .detail-item span {
    font-weight: bold;
    color: #555;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.button-group .list-button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group .list-button:hover {
    background-color: #555;
}

.button-group .delete-button {
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group .delete-button:hover {
    background-color: #a83228;
}

.write-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.write-centered {
    text-align: center;
    margin-bottom: 20px;
}

.write-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.write-form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.write-form-group input, .write-form-group textarea, .write-form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.write-form-group input[type="file"] {
    padding: 5px;
}

.write-form-group.centered {
    text-align: center;
}

.write-form-group.centered button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.write-form-group.centered button:hover {
    background-color: #777;
}

.date-inputs {
    display: flex;
    align-items: center;
}

.date-inputs input {
    margin: 0 5px;
}

.date-inputs span {
    margin: 0 5px;
}

.page {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.page li {
    margin: 0 5px;
    cursor: pointer;
}
.comments-section {
    margin-top: 20px;
}

.comments-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.comment-form {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.comment-form textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    height: 100px;
}

.comment-form button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100px;
}

.comment-form button:hover {
    background-color: #777;
}

.comment {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

.comment-nickname {
    flex: 1;
}

.comment-right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.comment-delete {
    color: #c0392b;
    text-decoration: none;
    cursor: pointer;
}

.comment-delete:hover {
    text-decoration: underline;
}

.comment-content {
    margin-top: 10px;
}

.comment-content p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    white-space: pre-wrap;
}
.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown-btn.active + .dropdown-content {
    display: block;
}