<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디찾기</title>
</head>
<body>
    <%= mphone %> (으)로 인증번호를 전송했습니다. <br>
    인증번호를 입력해주세요
    <input type="text" id="verificationCode">
    <button id="verify" type="button">확인</button>
    <span id="countdown">05:00</span>
<script src="/js/home/findid2.js"></script>
</body>
</html>