<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디찾기</title>
</head>
<body>
    <input type="text" id="name" placeholder="이름을 입력해주세요.">
    <input id="mphone" type="text" placeholder="전화번호를 입력해주세요.">
    <button id="find">찾기</button>
<script src="/js/home/findid.js"></script>
</body>
</html>