<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><input id="id" type="text" placeholder="ID"/></p>
    <p><input id="name" type="text" placeholder="name"/></p>
    <p id="button">비밀번호 찾기</p>
    <script src="/js/home/findpw.js"></script>
    id, 이름 입력 -> 찾기버튼 -> 입력값으로 query해 email뽑아서 asd***@nav**.***형태로 표기하고 인증번호가 발송되었습니다.
     -> 밑에 인증코드 6자리 입력하는란 -> 검증 ->ok-> 비밀번호 재설정

</body>
</html>