<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (tag == 'login ok') { %>
        <%=nickname%>님 환영합니다.
        <a href="/logout">logout</a>
    <% } else { %>
        <%=nickname%>
        <a href="/login">login</a>
    <% } %>
    <p><a href="/arte">문화예술교육 게시판 이동</a></p>
    <p><a href="/arte/music"> -- 음악 게시판 이동</a></p>
    <p><a href="/arte/fineart"> -- 미술 게시판 이동</a></p>
    <p><a href="/arte/sports"> -- 운동 게시판 이동</a></p>
    <p><a href="/arte/art"> -- 예술 게시판 이동</a></p>
    <p><a href="/tech">전문기술교육게시판 이동</a></p> 
    <p><a href="/tech/certificate"> -- 자격증 과정 이동</a></p>
    <p><a href="/tech/foundation"> -- 창업 과정 이동</a></p>
    <p><a href="/tech/tech"> -- 전문기술 과정 이동</a></p>
    <p><a href="/club">동호회게시판 이동</a></p>
    <p><a href="/job">일자리게시판 이동</a></p>
</body>
</html>