<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (tag == 'login ok') { %>
        <%=nickname%>님 환영합니다.
        <a href="/logout">logout</a>
    <% } else { %>
        <%=nickname%>
        <a href="/login">login</a>
    <% } %>
    <p><a href="/art">문화예술교육 게시판 이동</a></p>
    <p><a href="/art/humanities"> -- 인문학 게시판 이동</a></p>
    <p><a href="/art/music"> -- 음악 게시판 이동</a></p>
    <p><a href="/art/art"> -- 미술 게시판 이동</a></p>
    <p><a href="/art/sports"> -- 운동 게시판 이동</a></p>
    <p><a href="/art/show"> -- 공연 게시판 이동</a></p>
    <p><a href="/pro">전문교육게시판 이동</a></p> 
    <p><a href="/pro/certificate"> -- 자격증 과정 이동</a></p>
    <p><a href="/pro/startup"> -- 창업 과정 이동</a></p>
    <p><a href="/pro/pro"> -- 전문교육 과정 이동</a></p>
    <p><a href="/pro/it"> -- IT교육 과정 이동</a></p>
    <p><a href="/club">동호회게시판 이동</a></p>
    <p><a href="/job">일자리게시판 이동</a></p>
    <p><a href="/free">자유게시판 이동</a></p>
</body>
</html>