<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/home/login.css">
    <title>회원가입</title>
</head>
<body>
  <div class="findbtn">
    <br><br><br><br><br>
    <h1>회원가입</h1><br><br><br>
      <p><button onclick="location.href='registerc'" class="btn-c">일반이용자</button>
      <button onclick="location.href='registerp'" class="btn-c">공급자</button></p>
  </div>
</body>
</html>