<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/registerp.js" defer></script>
    <title>공급자 회원가입</title>
</head>
<body>
  <div class="login">
    <h1>회원가입</h1>
      <form method="post">
        <input id="id" type="text" placeholder="아이디"/>
        <input id="name" type="text" placeholder="이름"/>
        <input id="password" type="password" placeholder="비밀번호"/>
        <input id="confirm-password" type="password" placeholder="비밀번호 확인"/>
        <input id="nickname" type="text" placeholder="닉네임"/>
        <input id="code" type="text" placeholder="인증코드"/>
        <p id="button" class="btn btn-primary btn-block btn-large">SIGN UP</p>
        <p class="message">Already registered? <a href="/login" class="amessage">LOGIN</a></p>
      </form>
  </div>
</body>
</html>