<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호찾기</title>
</head>
<body>
    <input id="password" type="password" placeholder="비밀번호">
    <input id="confirm-password" type="password" placeholder="비밀번호 확인">
    <button id="reset">재설정</button>
<script src="/js/home/resetpw.js"></script>
</body>
</html>