<div class="write-container">
    <h1 class="write-centered">게시글 작성</h1>
    <form id="writeForm" enctype="multipart/form-data">
        <div class="write-form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="write-form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" rows="10" required></textarea>
        </div>
        <div class="write-form-group">
            <label for="image">이미지</label>
            <input id="image" name="image" type="file" multiple>
        </div>
        <div class="write-form-group">
            <label for="instructorName">강사명</label>
            <input type="text" id="instructorName" name="instructorName" required>
        </div>
        <div class="write-form-group">
            <label for="category">카테고리</label>
            <select id="category" name="category" required>
                <option value="">카테고리</option>
                <option value="humanities">인문학</option>
                <option value="music">음악</option>
                <option value="art">미술</option>
                <option value="sports">운동</option>
                <option value="show">공연</option>
            </select>
        </div>
        <div class="write-form-group">
            <label for="eduPeriod">교육기간</label>
            <input type="text" id="eduPeriod" name="eduPeriod" required>
        </div>
        <div class="write-form-group">
            <label for="recruitNum">모집인원</label>
            <input type="number" id="recruitNum" name="recruitNum" required>
        </div>
        <div class="write-form-group">
            <label for="receptionPeriod">접수기간</label>
            <input type="text" id="receptionPeriod" name="receptionPeriod" required>
        </div>
        <div class="write-form-group">
            <label for="price">가격</label>
            <input type="number" id="price" name="price" required>
        </div>
        <div class="write-form-group">
            <label for="status">접수상태</label>
            <select id="status" name="status" required>
                <option value="ing" selected="selected">접수중</option>
                <option value="end">접수마감</option>
            </select>
        </div>
        <div class="write-form-group centered">
            <button id="write" class="btn">작성하기</button>
        </div>
    </form>
</div>
<script src="/js/admin/adminartwrite.js"></script>