<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자모드</title>
</head>
<body>
    <h1>관리자 게시판</h1>
    <p><a href="/admin/authcode">인증코드 발급</a></p>
    <p><a href="/admin/applylist">교육신청 현황</a></p>
    <p><a href="/admin/users">사용자 정보</a></p>
</body>
</html>