<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 로그인</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="login-body">
  <div class="login-container">
    <div class="login-box">
      <h1>관리자 페이지 로그인</h1>
        <div class="form-group">
          <input id="id" type="text" placeholder="아이디" class="login-input"/>
        </div>
        <div class="form-group">
          <input id="password" type="password" placeholder="비밀번호" class="login-input"/>
        </div>
        <div class="form-group centered">
          <button type="submit" id="login" class="btn">로그인</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/admin/adminlogin.js"></script>
</body>
</html>
