<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자모드</title>
    <link rel="stylesheet" href="/css/admin.css"> 
    <script defer src="/js/admin/adminlist.js"></script>
</head>
<body>
    <div class="sidebar">
        <h1>관리자 메뉴</h1>
        <ul>
            <a href="/admin/main">대시보드</a>
            <a href="/admin/users">회원 정보</a>
            <a href="/admin/instructors">강사 정보</a>
            <a href="/admin/artapplylist">문화예술 교육신청 현황</a>
            <a href="/admin/proapplylist">전문 교육신청 현황</a>
            <a href="/admin/artlist">문화예술 교육 게시글 목록</a>
            <a href="/admin/prolist">전문 교육 게시글 목록</a>
            <a href="/admin/freelist">자유게시판 게시글 목록</a>
            <a href="/admin/clublist">동호회게시판 게시글 목록</a>
            <a href="/admin/authcode">인증코드 발급</a>
            <a href="/admin/message">단체문자 전송</a>
            <a href="javascript:void(0);" id="logout">로그아웃</a>
        </ul>
    </div>

    <div class="content">
        <%- include(content) %>
    </div>
</body>
</html>
