<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
정말로 <%=id%> 아이디의 비밀번호를 초기화 하시겠습니까?<br>
초기화된 비밀번호는 123456789a 입니다
</div>
<button id="yes">예</button> <button id="no">아니오</button>
</body>
<script>
    const yesbutton = document.querySelector('#yes');
    const nobutton = document.querySelector('#no');

    yesbutton.addEventListener("click", () => {
        reset();
    });

    nobutton.addEventListener("click", () => {
        window.location.href="/admin/users";
    });

    function reset() {
        const url = window.location.href;
        fetch(url, {
            method: "POST",
        })
        .then((res)=>res.json())
        .then((res) => {
            if (res.success) {
                location.href = "/admin/users";
            } else {
                alert(res.msg);
            }
        })
        .catch((err) => {
            console.error("비밀번호 초기화 중 오류 발생");
        });
    }
</script>
</html>